{% extends 'base.html' %}

{% block content %}
<h1>상세 페잊지</h1>
<div class="col-8">
    <div class="card">
        <div class="card-body">
            <p>{{article.pk}}</p>
            <p>{{article.title}}</p>
            <p>{{article.content}}</p>
            <p>{{article.creates_at}}</p>
            <p>{{article.updated_at}}</p>
            <a href="{% url 'articles:edit' article.pk%}" class="btn btn-success">수정하기</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                삭제하기
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정말 지우시려구요?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         삭제된 정보는 복구가 불가능합니다 :(
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{% url 'articles:delete' article.pk%}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">삭제하기</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}