{% extends 'base.html' %}
{% block content %}
<hr>
<div><a href="{% url 'accounts:profile' article.user%}">{{article.user}}</a></div>
<br>
<div>{{article.title}}</div>
<div>{{article.content}}</div>
<div>{{article.created_at}}</div>
<div class="d-flex">
    <form action="{% url 'accounts:likeRetrieve' article.pk%}" method='POST'>
        {% csrf_token %}
        
        {% if request.user in article.like_users.all %}
        <button class='btn'>
        <i class="fas fa-heart" style="color:red"></i> 
        </button>
            {% if article.like_users.count == 0 %}
            <div>가장 먼저 좋아요를 남겨보세요</div>
            {% elif article.like_users.count == 1 %}
            <div>좋아요 {{article.like_users.count}}개</div>
            {% else %}
            <div> {{article.like_users.last}}님 외 {{article.like_users.count}}명이 좋아합니다</div>
            {% endif %}

        {% else %}
        <button class='btn'>
        <i class="far fa-heart"></i>
        </button>
            {% if article.like_users.count == 0 %}
            <div>가장 먼저 좋아요를 남겨보세요</div>
            {% elif article.like_users.count == 1 %}
            <div>좋아요 {{article.like_users.count}}개</div>
            {% else %}
            <div> {{firstUser}}님 외 {{article.like_users.count}}명이 좋아합니다</div>
            {% endif %}
        {% endif %}

    </form>
</div>
<hr>
<form action="{% url 'accounts:comments_create' article.user article.pk%}" method="POST">
    {% csrf_token %}
    <div>{{form}}</div>
    <input type="submit" value="submit">
</form>
<hr>
{% for comment in comments %}
<div><a href="{% url 'accounts:profile' comment.user%}">{{comment.user}}</a>  {{comment.content}}</div>
{% endfor %}
{% endblock content %}