{% extends 'base.html' %}
{% block content %}
    <hr>
    <div>{{user_name}}의 프로필 페이지입니다?</div>
    <div>
        팔로잉: {{user_name.followings.count}} / 팔로워: {{user_name.followers.count}}
    </div>
    {% if user != person %}
    <div>
        <form action="{% url 'accounts:follow' user_name.pk%}" method="POST">
            {% csrf_token %}
            {% if user in user_name.followers.all %}
            <input type="submit" value="Unfollow">
            {% else %}
            <input type="submit" value="Follow">
            {% endif %}
        </form>
    </div>
    {% endif %}
    <hr>
    {{user_pk}}
    {% for user_article in user_articles %}
        <div>{{ user_article.title }}</div>
        <div> {{ user_article.content }}</div>
        <div> {{ user_article.created_at }}</div>
        <div class="d-flex">
            <a href="{% url 'accounts:retrieve' user_article.user user_article.pk%}" class='btn'><i class="far fa-comment">  {{user_article.comment_set.count}}</i></a> 
            <form action="{% url 'accounts:likeProfile' user_article.pk%}" method='POST'>
                {% csrf_token %}
                <button class='btn'>
                {% if request.user in user_article.like_users.all %}
                <i class="fas fa-heart" style="color:red"></i> {{user_article.like_users.count}}
                {% else %}
                <i class="far fa-heart"></i> {{user_article.like_users.count}}
                {% endif %}
                </button>
            </form>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}