{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1 class="mt-5 text-center">우리들의 마음 </h1>
    <div class="m-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
          {% for text in texts %}
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    
                    <h1>{{ text.title }}</h1>
                    <hr>
                    <p>{{ text.content }}</p>
                    <h5 class='text-end'>by {{ text.autor }}</h5>
                    <div class="d-flex ">
                      <form action="{% url 'thpr:delete'  text.pk%}" method='POST' id="{{text.pk}}">
                        {% csrf_token %}
                        <input id="{{text.pk}}"  class="mx-1 btn btn-outline-danger" type="submit" value="삭제">
                      </form>                       
                    </div>
                  </div>
                </div>
            
            </div> 
            {% endfor %}
        </div>
</body>
</html>
{% endblock content %}